<div class="header">
  <a href="#default" class="logo">
    GifTumbler
  </a>
  <div class="left-menu">
    <a  [routerLink]="['/']"><span>Main Page</span></a>
    <a *ngIf="userId" [routerLink]="['/profile/', userId]"><span>My profile</span></a>
    <a  [routerLink]="['/upload']">Upload Image</a>
  </div>
  <div class="header-right">

    <a *ngIf="!userId" routerLink="/login" class="menu-link">Login</a>
    <a *ngIf="!userId" routerLink="/register" class="menu-link">Register</a>
    <a *ngIf="userId" (click)="logout()" class="menu-link">Logout</a>
  </div>
</div>
