.images-block {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.image {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

button {
  width: 200px;
  margin: 1rem auto;
}
